*.db
.venv
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
*.egg
*.log
*.sqlite3
*.DS_Store
*.env
*.env.*
*.coverage
*.coverage.*
*.cover
*.coveragerc
*.tox/
*.pytest_cache/
*.mypy_cache/
*.pytest_cache/
*.hypothesis/
